body {
    margin: 0;
    font-size: 15px;
    line-height: 1.65;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    background: #f6f6f6;
    color: #101010;
}

section {
    position: relative;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #101010;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0 0 0 2ch;
}

li {
    margin-bottom: 18px;
}

.white-text {
    color: #FFFFFF;
}

.section-heading,
.section-subheading,
.btn,
.usp,
.carousel-nav-text,
.review-heading,
.review-meta {
    text-transform: uppercase;
    font-weight: 500;
}

.section-heading,
.btn,
.cta-link,
.review-heading,
.review-meta {
    letter-spacing: 0.75px;
}

.btn {
    font-size: 13px;
    color: #FFFFFF;
    padding: 10px 28px;
    background: #000000;
    text-align: center;
}

.cta-link {
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    position: relative;
    display: inline-block;
}

.cta-link--dark::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #101010;
    border-radius: 2px;
    bottom: -2px;
    left: 0;
    transition: transform 200ms ease-in-out;
    transform-origin: left center;
    transform: scale(1);
}

.cta-link--dark:hover::after {
    transform: scaleX(0);
}

.border {
    box-sizing: border-box;
}

.border--top {
    border-top: 3px solid #FFFFFF;
}

.section-bg {
    height: 100%;
    width: 100%;
}

.split-section {
    display: flex;
}

.section-heading,
.review-heading {
    font-size: 44px;
    line-height: 1.2;
}

.section-subheading {
    font-size: 15px;
}

.align-center {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.5;
}

.play-icon {
    fill: #FFFFFF;
}

.hero-section {
    max-height: 800px;
    overflow: hidden;
}

.hero-section-bg {
    height: 100%;
    width: 100%;
    display: block;
}

.hero-section-content {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.hero-buttons {
    margin-top: 30px;
    width: 500px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.usp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cdd8db;
    box-sizing: padding-box;
    padding: 10px;
    gap: 40px;
}

.usp {
    font-size: 11px;
}

.shop-cat-section {
    height: 400px;
    display: flex;
}

.split-content {
    width: calc(50% - 1.5px);
}

.split-content:first-child {
    border-right: 1.5px solid #FFFFFF;
}

.split-content:last-child {
    border-left: 1.5px solid #FFFFFF;
}

.shop-cat {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.shop-cat-img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1);
    transform-origin: center center;
    transition: transform 8s cubic-bezier(.25,.46,.45,.94);
    display: block;
}

.shop-cat-link {
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    text-transform: lowercase;
}

.shop-cat-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    bottom: -2px;
    left: 0;
    transition: transform 200ms ease-in-out;
    transform-origin: left center;
    transform: scale(1);
}

.shop-cat-img:hover {
    transform: translateY(-50%) scale(1.2);
}

.shop-cat-link:hover::after {
    transform: scaleX(0);
}

.review-section {
    padding: 40px 0;
    position: relative;
    box-sizing: border-box;
    height: 460px;
}

.review-section .section-subheading {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.carousel-nav-wrapper {
    position: absolute;
    top: 60px;
    right: 50px;
    height: 40px;
    display: flex;
    align-items: center;
}

.carousel-nav {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.carousel-nav.not-clickable {
    opacity: 0.3;
    cursor: initial;
}

.carousel-nav-icon {
    width: 12px;
}

.carousel-nav-text {
    font-size: 10px;
    padding: 0 10px;
}

.nav-div {
    height: 100%;
    width: 1px;
    background: #CCCCCC;
}

.reviews-slider-wrapper {
    overflow: hidden;
    white-space: nowrap;
}

.reviews-slide-item {
    width: 100vw;
    display: inline-block;
    text-align: center;
    white-space: initial;
}

.review-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 10px;
}

.review-star {
    color: #e8e8d1;
    font-size: 15px;
}

.review-star.filled {
    color: #d9d934;
}

.review-heading {
    margin: 0 0 15px;
}

.review-body {
    max-width: 500px;
    margin: 0 auto 30px;
    line-height: 20px;
}

.review-meta {
    font-size: 13px;
}

.review-author,
.review-watch {
    margin: 0;
}

.review-date {
    margin: 0 0 10px;
}

.marketing-vid-section {
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.marketing-vid-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.marketing-vid-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-icon {
    height: 80px;
    cursor: pointer;
    transform-origin: center center;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.2));
    transition: transform .2s ease-in-out;
}

.play-icon:hover {
    transform: scale(1.1);
}

.marketing-vid-section-content .play-icon {
    margin-top: 30px;
}

.easy-123 {
    width: calc(50% - 1.5px);
    overflow: hidden;
}

.easy-123:first-child {
    border-right: 1.5px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-123:last-child {
    border-left: 1.5px solid #FFFFFF;
}

.easy-123-img {
    height: 100%;
    width: 100%;
}

.explainer-vid-section .play-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
}

.lifestyle-slider-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 570px;
}

.lifestyle-slide-item {
    width: 25%;
    display: inline-block;
}

.lifestyle-slide-img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1/2;
}