body{
    background-color: #f6f6f6;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    color: #101010;
}

* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: #101010;
}

header {
    background: #dddddd;;
    padding: 18px 50px;
    border-top: 3px solid #FFFFFF;
    
}

.navigation-bar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 105px;
}

nav ul li {
    margin: 0 5px;
}

.logo {
    display: inline-block;
    width: 200px;
}

.lol {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 20px;
    font-weight: 400;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    border: #ffffff;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anmeldelser{
    background-color: whitesmoke;
    width: 1000px;
    height: 450px;
    margin: 200px auto;
    border: 1px solid none;
    margin-top: 50px;
}

#slideshow{
    width: auto;
    margin: 0px auto;
    text-align: center;
}

#slideshow > div{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 24px 10px 0px 10px;
    background: rgba(0,0,0,.1);
    border: 2px solid black;
    border-radius: 100%;
    font-size: 17px;
    transition: 0.3s linear 0s;
    cursor: pointer;
}

#indhold{
    margin: 0px auto;
    transition: opacity 0.3s linear 0s;
    font-family: roboto, sans-serif;
}

#indhold > h2{
    text-align: center;
    color:black;
}

#indhold{
    font-size: 17px;
    line-height: 1.5em;
    padding: 20px 50px;
    text-align: center;
    color: black;
    font-family: roboto, sans-serif;
    font-weight: 100;
}

#indhold > h3{
    text-align: left;
    color: black;
    font-style: italic;
    padding: 10px;
}

.knap1{
    float: right;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: -250px;
    margin-right: 250px;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 100;
}

.knap2{
    float: left;
    width: 200px;
    height: 40px;
    background-color: #f6f6f6;
    color: black;
    margin-top: -250px;
    margin-left: 250px;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-weight: 100;
}

.titel{
    font-size: 17px;
    font-family: roboto, sans-serif;
    font-weight: 100;
}
