#anmeldelser{
    background-color: lightgrey;
    width: 1000px;
    height: 350px;
    margin: 200px auto;
    border: 1px solid black;
}

#slideshow{
    width: auto;
    margin: 0px auto;
    text-align: center;
}

#slideshow > div{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 24px 10px 0px 10px;
    background: rgba(0,0,0,.1);
    border: 2px solid green;
    border-radius: 100%;
    font-size: 17px;
    transition: 0.3s linear 0s;
    cursor: pointer;
}

#indhold{
    margin: 0px auto;
    transition: opacity 0.3s linear 0s;
    font-family: Arial, Helvetica, sans-serif;
}

#indhold > h2{
    text-align: center;
    color:black;
}

#indhold > p{
    font-size: 17px;
    line-height: 1.5em;
    padding: 20px 50px;
    text-align: center;
    color: black;
}

#indhold > h3{
    text-align: left;
    color: black;
    font-style: italic;
    padding: 10px;
}

